<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xa.dao.SaleDao">
<cache type="org.mybatis.caches.ehcache.EhcacheCache" />
  <resultMap id="mySale" type="com.xa.bean.SaleBean">
    <id column="sale_id" jdbcType="INTEGER" property="saleId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="seat_num" jdbcType="INTEGER" property="seatNum" />
    <result column="show_id" jdbcType="INTEGER" property="showId" />
    <association property="shb"  javaType="com.xa.bean.ShowBean" column="show_id" select="com.xa.dao.ShowDao.getOneShow"></association>
    <association property="seb" javaType="com.xa.bean.SeatBean" column="seat_num" select="com.xa.dao.SeatDao.getOneSeat"></association>
    <association property="ub" javaType="com.xa.bean.UserBean" column="user_id" select="com.xa.dao.UserDao.getOneUser"></association>
  </resultMap>
 
 <select id="getAllSale" resultMap="mySale">
    select sale_id,user_id,seat_num,show_id,sale_time from sale_tb
 </select>
 
 <select id="getOneSale" resultMap="mySale">
    select sale_id,user_id,seat_num,show_id,sale_time from sale_tb where sale_id = #{saleId}
 </select>
 
 <insert id="saveSale"  useGeneratedKeys="true" keyProperty="saleId" parameterType="com.xa.bean.SaleBean">
    insert into sale_tb(sale_id,user_id,seat_num,show_id,sale_time) values(null,#{userId},#{seatNum},#{showId},NOW())
 </insert>
</mapper>